/** Components **/
@import "components/header";
@import "components/form";
@import "components/button";
@import "components/socials";

/** Pages **/
@import "pages/signin";
@import "pages/signup";
@import "pages/reset-password";
@import "pages/confirm-email";
@import "pages/didnt-mount";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  padding-bottom: 36px;
}