.btn {
  background: #4E74F5;
  border-radius: 100px;
  text-decoration: none;
  display: block;
  border: 0;

  &__signup {
    padding: 18px 37.57px 19px 35.43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  &__submit {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 22px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    margin-top: 16px;
    border-radius: 64px;
    margin-bottom: 24px;
    cursor: pointer;
    height: 64px;

    img {
      margin-right: 16px;
      animation-name: loading;
      animation-duration: 4s;
    }

    &:focus {
      outline: 0;
    }
  }

  @media screen and (max-width: 618px) {
    &__signup {
      padding: 13.5px 16px;
      font-size: 12px;
      line-height: 13px;
    }
  }

  @media screen and (max-width: 516px) {
    &__submit {
      height: 56px;
    }
  }

}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}