.reset-password {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  max-width: 420px;
  max-height: 452px;
  margin: 0 auto;
  padding-top: 37px;

  &__img {
    margin-bottom: 48px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
  }

  &__sub-title {
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    text-align: center;
    margin-bottom: 32px;
  }

  &__cancel {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    text-align: center;
    text-decoration: none;
  }

  &__error {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FB2424;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.success {
    .btn__submit {
      max-width: 354px;
      height: 64px;
      padding: 0;
      margin: 0 auto;
      width: 100%;
    }

    .reset-password__sub-title {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 516px) {
    padding-top: 33px;
    margin: 0 auto;

    &__title {
      font-size: 24px;
      line-height: 32px;
    }

    &__sub-title {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    &.success {
      .btn__submit {
        height: 56px;
      }
    }
  }

  @media screen and (max-width: 460px) {
    margin: 0 16px;
  }
}